services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: jukebotx
      POSTGRES_USER: jukebotx
      POSTGRES_PASSWORD: jukebotx
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    environment:
      PYTHONPATH: /app/apps/api:/app/packages/core:/app/packages/infra
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    env_file: .env
    depends_on:
      - db
    ports:
      - "8001:8000"


  worker:
    environment:
      PYTHONPATH: /app/apps/worker:/app/packages/core:/app/packages/infra
    build:
      context: .
      dockerfile: apps/worker/Dockerfile
    env_file: .env
    depends_on:
      - db

  bot:
    environment:
      PYTHONPATH: /app/apps/bot:/app/packages/core:/app/packages/infra
    build:
      context: .
      dockerfile: apps/bot/Dockerfile
    env_file: .env
    depends_on:
      - db

volumes:
  pgdata:
